{% extends 'base.html' %}

{% block body %}

<div class="container shadow"> 
          
    <div class="row">
        <div class="col-md-5">
            
            <div class="card">
                <img class="card-img-top" src="/static/images/" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Login</h4>
                    <div class="mb-3">
                      <label for="" class="form-label">Email</label>
                      <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">
                      <small id="emailHelpId" class="form-text text-muted">Help text</small>
                      <label for="" class="form-label">Password</label>
                      <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">
                      <small id="emailHelpId" class="form-text text-muted">Help text</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
